<!DOCTYPE html>
<html>
  <head><meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name=google-site-verification content=d0cTPPePj9uTVX2T7QgBhKajxv_SQ0AF1Fe-_HpRCvg>
    <meta name=mobile-web-app-capable content=yes>
    <meta content="telephone=no" name=format-detection>
    <meta name=full-screen content=yes>
    <meta name=x5-fullscreen content=true>
    <meta name=browsermode content=application>
    <meta name=x5-page-mode content=app>
    <meta http-equiv=x-dns-prefetch-control content=on>
    <link rel=dns-prefetch href=http://img-cdn.yesaway.cn/ >
    <title>yesaway_uber</title>
    <meta name=description content="YESAWAY国际租车，是一家全球连锁汽车租赁品牌，全程中文服务，7X24小时全球中英文客服服务，机场取还车和免押金信用出行等。YESAWAY租车网点现已遍布美国洛杉矶、旧金山、新西兰基督城和泰国曼谷等各旅游城市，已为百万全球客户提供国际租车服务。">
    <meta name=keywords content="yesaway国际租车,自驾游,国际租车,美国租车,租车助手,出国旅游,租租车,出国旅游">
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
